In [1]:
#1)wap to print "hello world" in shell
print("hello world")

hello world

In [2]:
#2)wap to print "hello world".
print("hello")

hello

In [4]:
#3)wap to initialize multivariables and assigning multivalues corresponding to 150,120,250.
a,b,c=10,20,30
print("these value are a=" ,a, "b=", b, "c=" ,c)

these value are a= 10 b= 20 c= 30

In [9]:
# 4)wap to to initialize  a var and different DT values

a=10
print(a)
a=10.6
print(a)
a=10+3j
print(a)
a=True
print(a)
a=b'1010'
print(a)
a=None
print(a)
a=10,20,30,40
print(a)
a=(10,20,30,40)
print(a)
a=[10,20,30,40]
print(a)
a={10,20,30,40}
print(a)
a={10:20,30:40}
print(a)

10
10.6
(10+3j)
True
b'1010'
None
(10, 20, 30, 40)
(10, 20, 30, 40)
[10, 20, 30, 40]
{40, 10, 20, 30}
{10: 20, 30: 40}

In [11]:
#5)wap to print type of the data of the given value
a={1,2,3,4,7,8,9,10}
print(type(a))

<class 'set'>

In [12]:
#6)wap to print address of the memory block
a=10
print(id(a))

140721069286472

In [6]:
#7)wap to print your details first store you details then extract them
#3 concepts to fetch
#variable concep
name="guru"
age=22
phone=9376543216                              # need to use variable for every detail to fetch
email="guru@gmail.com"

#list concep
guru=['guru',22,9376543216,"guru@gmail.com"]          # can befetch using indexing but need to remember each indexposition of details

#dict concep
guru={"Name": "guru", "age": 22,"Phone Number":9376543216}
print("the age of guru is",guru["age"])

the age of guru is 22

In [1]:
#8)wap to swap the variablesn with using temp var
a=20
b="haii"
temp=a
a=b
b=temp
print(a,b)

haii 20

In [2]:
#9)wap to swap the variablesn without using temp var
m=[10,20,30,40]
n=(10,20,30,)
print(m,n)
m,n=n,m
print(m,n)

[10, 20, 30, 40] (10, 20, 30)
(10, 20, 30) [10, 20, 30, 40]

In [3]:
#10)wap to initialize a value and point it, then reinitialize the new value in to the existing  variable
a={1:547}  #initialize
print(a[1]) #fetch
a[1]=200 #modify
print(a)
a=1,2,3,4   #reinitialize
print(a)
a+=20,30,40  #concat
print(a)

547
{1: 200}
(1, 2, 3, 4)
(1, 2, 3, 4, 20, 30, 40)

In [4]:
#11)Was to convert single to multi value data
a=10
a=str(a)
a

'10'

In [10]:
#12)Wap to concat the two multivalue data types (str,list,tuple)
x="hello"
x+="world"
print(x)
y=[10,20,30]
y+={30,40,50}
print(y)

helloworld
[10, 20, 30, 40, 50, 30]

In [11]:
#13)Was to check the length of collection
t=(10,20,30,40,50)
len(t)

5

In [12]:
#14)Wap to check find out the middle value of the given collection
s=[10,20,30,40,50]
s[len(s)//2]

30

In [15]:
#15)Was to concat the new string into starting of given string
a="how r u"
b="dear "
a=b+a
a

'dear how r u'

In [18]:
#16)Was to concat the new string into ending of given string
a="hii "
b="darling"
a=a+b
print(a)

hii darling

In [22]:
#17)Was to concat the new string into middle of given string
h="hi "
g="alavunav"
h=h[0:]+"darling "+g[0:]
h

'hi darling alavunav'

In [25]:
#18)wap to modify the new char in to the middle of given string
s="hi hillo "
t=s[len(s)//2]
print(t)
s=s[0:len(s)//2]+"e"+s[len(s)//2+1:]
s

i

'hi hello '

In [28]:
#19)Was to modify the sequence of character in given string
s="hello bangaram"
print(s[0:6]+"B"+s[7:])

hello Bangaram

In [29]:
#20)Was to replace the old character into new character in given string
s="pyspiders"
print(s)
print(s[:-4]+'D'+s[-3:])

pyspiders
pyspiDers

In [30]:
#21)was to delete a specific character in a given string
s="pyspiders"
print(s[:2]+s[3:])

pypiders

In [31]:
#22)was to delete sequence of characters in a given string
s='pyspiders'
print(s[:3]+s[-3:])

pysers

In [32]:
#23)was to concat new string into a specific potion of given string
s="hai are you"
print(s[:4]+'hai'+s[3:])

hai hai are you

In [33]:
#24)was to concat new value into starting of given list
s=[1,2,3]
print([4,5,7]+s)

[4, 5, 7, 1, 2, 3]

In [34]:
#25)was to concat new value into ending  of given list
s=[1,2,3]
print(s+[4,5,7])

[1, 2, 3, 4, 5, 7]

In [36]:
#26)was to concat new value into middle of given list
s=[10,10.12,True ,'hai']
s[len(s)//2:len(s)//2]=['a','b','c']
print(s)

[10, 10.12, 'a', 'b', 'c', True, 'hai']

In [44]:
#27)was to concat new value into specific postion of given list
s=[10,10.12,True ,'hai','raja']
s[2:2]=['hai','hello']
print(s)

[10, 10.12, 'hai', 'hello', True, 'hai', 'raja']

In [45]:
#28)was to modify new value into specific postion of given list
s=[10,10.12,True ,'hai']
s[1]=True
print(s)

[10, True, True, 'hai']

In [46]:
#29)was to modify new value into starting postion of given list
s=[10,10.12,True ,'hai']
s[0]={'a':20}
print(s)

[{'a': 20}, 10.12, True, 'hai']

In [47]:
#30)was to modify new value into ending value of given list
s=[10,10.12,True ,'hai']
s[-1]='qspiders'
print(s)

[10, 10.12, True, 'qspiders']

In [48]:
#31)was to modify new value middle value  of given list
s=[10,10.12,True]
s[len(s)//2]=[10,20,30]
print(s)

[10, [10, 20, 30], True]

In [49]:
#32)wap to modify the first 4 positions of given list
l=[10,20,30,50,60]
l[0:4]=['a','b','c']
l

['a', 'b', 'c', 60]

In [65]:
#33)wap to modify the sequence of values in the given list
d=[1,2,3,4,5,6,7,8,9]
print(d)
print(d[1: :2])
d[1: :2]=[20,40,60,80]
print(d)

d=[1,3,2,5,4,7,8,6,9,15]
print(d[ : :2])
d[ : :2]=[d[0]**2,d[2]**2,d[4]**2,d[6]**2,d[8]**2,]
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
[1, 20, 3, 40, 5, 60, 7, 80, 9]
[1, 2, 4, 8, 9]
[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]

In [66]:
#34)wap to delete the values in specific position in the given list
s=[1,2,3,4,5]
print(s)
del s[3]
print(s)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]

In [67]:
#35)wap to delete the values at the ending of list
s=[1,2,3,4,5]
print(s)
del s[-1]
print(s)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [68]:
#36)wap to delete new value at startinf of list
s=[1,3,5,7,9,11]
print(s)
s[0:1]=[]
print(s)

[1, 3, 5, 7, 9, 11]
[3, 5, 7, 9, 11]

In [70]:
#37)wap to delete new value in the middle of the list
s=[1,2,3,4,5,6]
print(s)
del s[len(s)//2]
print(s)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6]

In [71]:
#38)wap to concat the value at starting of tuple
t=(1,2,3,4,5)
print(t)
t=('a','b')+t
print(t)

(1, 2, 3, 4, 5)
('a', 'b', 1, 2, 3, 4, 5)

In [72]:
#39)wap to concat the value at the middle of tuple.
t=(1,2,3,4,5)
print(t)
t=t[0:2]+('a','b')+t[2:]
print(t)

(1, 2, 3, 4, 5)
(1, 2, 'a', 'b', 3, 4, 5)

In [69]:
#40)was to concat value ending of tuple
t=(10,10.12,True)
t+=(10,)
print(t)

(10, 10.12, True, 10)

In [56]:
#41)was to modify sequence values in a tuple
t=(10,10.12,True,50)
print(t[0:3]+('modified',))

(10, 10.12, True, 'modified')

In [57]:
#42)was to delete sequence of values in a tuple 
t=(10,10.12,True,'string',[10,True])
print(t[:1]+t[-1:])

(10, [10, True])

In [58]:
#43)was to concat the new value into the set
s={10,20,30}
s|={40,50}
print(s)

{50, 20, 40, 10, 30}

In [59]:
#44)was to delete specific value in a set
s={10,20,30}
s-={20}
print(s)

{10, 30}

In [60]:
#45)was to concat new value and key to dict
d={10:20,20:30,40:50}
d[50]=309
print(d) #to add single value
e={60:70,80:90}
d|=e
print(d) #to add multiple values at a time

{10: 20, 20: 30, 40: 50, 50: 309}
{10: 20, 20: 30, 40: 50, 50: 309, 60: 70, 80: 90}

In [61]:
#46)was to delete specific key and value in the given dict
d={10:20,20:30,40:50}
del d[20]
print(d)

{10: 20, 40: 50}

In [62]:
#47)was to specific value in a given dict
d={10:20,20:30,40:50}
d[10]=200
print(d)

{10: 200, 20: 30, 40: 50}

In [63]:
#48)was to concat list value and tuple values by using typecasting
l=[10,10.12,True]
t=("string",'a','b')
print(l+list(t))

[10, 10.12, True, 'string', 'a', 'b']

In [64]:
#49)was to concat list and tuple value without using typecasting
l=[10,10.12,True]
t=("string",'a','b')
l+=t
print(l)

[10, 10.12, True, 'string', 'a', 'b']

In [7]:
50# was to concat the list  value and tuple value without using type casting.
l=["a","b"]
t=(10,20)
l+=t
l

['a', 'b', 10, 20]

In [4]:
51# WAs to check the given number is number is divisable by 3
n=9
res=n%3
res==0

False

In [5]:
52#was to check the given value divisiable 2 and 6
n=21
print(n%2==0 and n%6==0)

False

In [8]:
53#was the last dight is divisable by 3 form given integer number(without type casting).
n=1996
((n%10)%3)==0

True

In [9]:
54#was how extract the last dight in given integer number last two digit
n=1999
n%10

9

In [10]:
55#was to check the last dight is divisable by3 from given inter number (with type casting)
n=2026
int(str(n)[-1])

6

In [12]:
56#was to check the last dight is divisable by3 from given inter number (without type casting)
n=2026
int(str(n)[-1])%3==0

True

In [13]:
57#was the given number is greater than 150
n=200
print(n>150)

True

In [14]:
58# was the given number is greater than or equal to 100
n=100
print(n>=100)

True

In [15]:
59#was to check the given number is less than 150,print the result
n=15
print(n<150)

True

In [16]:
60# was to check the given number is less than or equal to 100
n=100
print(n<=100)

True

In [17]:
61#was to check the given number is greater than 15&less than 24
n=20
print(n>15 and n<=24)

True

In [18]:
62#was to check given number is even
n=16
print(n%2==0)

True

In [20]:
63#was to check given number is odd
n=15
print(n%2!=0)

True

In [21]:
64#was  to check perform the replication of a given string with 6
s="abc"
print(s*6)

abcabcabcabcabcabc

In [24]:
65#was to check the given number is divisable by 3 and also the number greater than 22
s=26
print(s%3==0 and s>22)

False

In [26]:
66#was to check perform the length of collection is even (or) not
g="pyspider"
len(g)%2==0

True

In [31]:
67#was to check perform the length of the collection is less than 55 and greater than 16
n="abcdefghijklmnopqrstuvwxyz"
16<len(n)<55

True

In [34]:
68#was to check perform the length of the collection is divisable by 5 and odd.
n="abcdefghijklmnopqrstuvwxy"
print(len(n)%5==0 and len(n)%2!=0)

True

In [37]:
69#was check extart the middle position of given collection is either (str, list,tuple)
n="guru"
res=type(n[len(n)//2])
print(res==str or res==list or tuple)

True

In [39]:
70#was to check the middle position of collection
s=(10,"haii",30)
res=type(s[len(s)//2])
print(res in [str,list,tuple])

True

In [41]:
71#was to check the given number is greater than 20 and less than it should be even
s= 50
print(s%2==0 and s>20 )

True

In [42]:
72#was to check the given number is even and it should be less than 120
s= 50
print(s%2==0 and 120>s )

True

In [71]:
73#was to check the given number is even and present form 40 to 70
s= 42
print(s%2==0 and 40<s<70 )

True

In [45]:
74#was the given the number is odd and it should be greater than 97
s= 101
print(s%2!=0 and s>97 )

True

In [74]:
75#was to check the given number is less than 122 and greater than 48 and the number should be divisiable by 4
s= 52
print(122>s>48 and s%4==0 )

True

In [50]:
75#was to check the given number is divisable by 3 or 5 displaying the value 
s= 100
print(s%3==0 or s%5==0 )
print(s)

True
100

In [59]:
75#was to check the given number is between 100 to 200 including the limit
s=200
print(100<=s and 200>=s)

True

In [62]:
75#was to check the given number is between 100 to 200
s=199
print(100<s and 200>s)

True

In [1]:
#76 to check the given string last character ASCII value should be divisible 5 or not

s="python"
a=ord(s[-1])
print(a)
print(a%5==0)

110
True

In [4]:
# 77 to check the number is between 80 and 130 and should be divisible by 3 and 4 last digit should be less than 9
n=120
print(80<n<130 and n%3==0 and n%4==0 and n%10<=9)

True

In [6]:
# 78 to check the number even or less than 25
n=24
print(n%2==0 or n<25)
n=27
print(n%2==0 or n<25)

True
False

In [9]:
# 79 to check the number is even or greater than 25
n=28
print(n%2==0 or n>25)
n=29
print(n%2==0 or n>25)

n=23
print(n%2==0 or n>25)

True
True
False

In [10]:
# 80 to check the number is divisible by either 3 or 5
n=18
print(n%3==0 or n%5==0)

True

In [11]:
#81)wae to check given number is not a even number
n=19
print(n%2!=0)

True

In [12]:
#82)wae to check given number is not a odd numbe
n=20
print(n%2==0)

True

In [22]:
#83)wae to check number is not divisble by 3
n=10
print(n%3!=0)

True

In [7]:
#84)wae to check the given number is not divisible by 3 and 5
n=56
print(n%3!=0 and n%5!=0)

True

In [8]:
#85) wae to check the given number is not divisble 3 or 5
n=33
print(n%3!=0 or n%5!=0 )

True

In [11]:
#86)wae to check given character ascii value is not divisible by 5
ch='A'
print(ord(ch)%5!=0)
ch='B'
print(ord(ch)%5!=0)

False
True

In [13]:
#87)wae to check to find out the ascii character of given number
n=99
print(chr(n))

c

In [14]:
#88)wae to check find out the ascii value in a given character
ch='A'
print(ord(ch))

65

In [16]:
#89)wae to check given character is uppercase or not
ch='A'
print('A'<=ch<='Z')
char='BC'
print( len(char)==1 and 'A'<= char<='Z')
char='F'
print( len(char)==1 and 65<=ord(char)<=90)

True
False
True

In [17]:
#90)wae to check the character is lowercase
char='BC'
print( len(char)==1 and 'a'<= char<='z')

False

In [19]:
#91)wap to check char is alphabet

ch='0'
print(len(ch)==1 and ('A'<=ch<='Z' or'a'<=ch<='z'))

False

In [20]:
#92)wap to check given character is ACSII number
ch='5'
print('0'<=ch<='9')
print(len(ch)==1 and '0'<=ch<='9')
ch='A'
print(len(ch)==1 and'0'<=ch<='9')

True
True
False

In [21]:
#93)wap to check given char is special character
ch='$'
print('A'<=ch<='Z' or 'a'<=ch<='z' or '0'<=ch<='9')
print(not('A'<=ch<='Z' or 'a'<=ch<='z' or '0'<=ch<='9'))
ch='@'
print(0<=ord(ch)<=47 or 58<=ord(ch)<=64 or 91<=ord(ch)<=96 or 123<=ord(ch)<=127)

False
True
True

In [17]:
#94)wap to check the given char is not a uppercase
n="a"
print(not('A'<=n<='Z'))

True

In [21]:
#95)wap to check the given character should not be lowercase
n='@'
print(not('a'<=n<='z'))

True

In [23]:
#97)wap to check the given character should not be an ASCII number.
ch='a'
print(not(ord(ch)>=48 and ord(ch)<=58))

True

In [29]:
#98)wap to check the given character should not be a special character.
n='@'
print(not('A'<=n<='Z'or'a'<=n<='z'or'0'<=n<='9'))
ch='@'
print(not(0<=ord(ch)<=47 or 58<=ord(ch)<=64 or 91<=ord(ch)<=96 or 123<=ord(ch)<=127))

True
False

In [31]:
#99)wap to check the given character is a vowel.
ch='u'
print(ch in "AEIOUaeiou")
ch="g"
print(ch in"AEIOUaeiou")

True
False

In [34]:
#100)wap to check the given character is a consonant.
ch="g"
print(not(ch in "AEIOUaeiou"))
ch="a"
print(not(ch in"AEIOUaeiou"))

True
False