In [1]:
#1)wap to print "hello world" in shell
print("hello world")

hello world

In [2]:
#2)wap to print "hello world".
print("hello")

hello

In [4]:
#3)wap to initialize multivariables and assigning multivalues corresponding to 150,120,250.
a,b,c=10,20,30
print("these value are a=" ,a, "b=", b, "c=" ,c)

these value are a= 10 b= 20 c= 30

In [9]:
# 4)wap to to initialize  a var and different DT values

a=10
print(a)
a=10.6
print(a)
a=10+3j
print(a)
a=True
print(a)
a=b'1010'
print(a)
a=None
print(a)
a=10,20,30,40
print(a)
a=(10,20,30,40)
print(a)
a=[10,20,30,40]
print(a)
a={10,20,30,40}
print(a)
a={10:20,30:40}
print(a)

10
10.6
(10+3j)
True
b'1010'
None
(10, 20, 30, 40)
(10, 20, 30, 40)
[10, 20, 30, 40]
{40, 10, 20, 30}
{10: 20, 30: 40}

In [11]:
#5)wap to print type of the data of the given value
a={1,2,3,4,7,8,9,10}
print(type(a))

<class 'set'>

In [12]:
#6)wap to print address of the memory block
a=10
print(id(a))

140721069286472

In [14]:
#7)wap to print your details first store you details then extract them
#3 concepts to fetch
#variable concep
name="guru"
age=22
phone=9376543216                              # need to use variable for every detail to fetch
email="guru@gmail.com"

#list concep
moon=['guru',22,9376543215,"guru@gmail.com"]          # can befetch using indexing but need to remember each indexposition of details

#dict concep
moon={"Name": "guru", "age": 22,"Phone Number":9376543216}
print("the age of guru is",guru["age"])

NameError: name 'guru' is not defined

In [7]:
50# was to concat the list  value and tuple value without using type casting.
l=["a","b"]
t=(10,20)
l+=t
l

['a', 'b', 10, 20]

In [4]:
51# WAs to check the given number is number is divisable by 3
n=9
res=n%3
res==0

False

In [5]:
52#was to check the given value divisiable 2 and 6
n=21
print(n%2==0 and n%6==0)

False

In [8]:
53#was the last dight is divisable by 3 form given integer number(without type casting).
n=1996
((n%10)%3)==0

True

In [9]:
54#was how extract the last dight in given integer number last two digit
n=1999
n%10

9

In [10]:
55#was to check the last dight is divisable by3 from given inter number (with type casting)
n=2026
int(str(n)[-1])

6

In [12]:
56#was to check the last dight is divisable by3 from given inter number (without type casting)
n=2026
int(str(n)[-1])%3==0

True

In [13]:
57#was the given number is greater than 150
n=200
print(n>150)

True

In [14]:
58# was the given number is greater than or equal to 100
n=100
print(n>=100)

True

In [15]:
59#was to check the given number is less than 150,print the result
n=15
print(n<150)

True

In [16]:
60# was to check the given number is less than or equal to 100
n=100
print(n<=100)

True

In [17]:
61#was to check the given number is greater than 15&less than 24
n=20
print(n>15 and n<=24)

True

In [18]:
62#was to check given number is even
n=16
print(n%2==0)

True

In [20]:
63#was to check given number is odd
n=15
print(n%2!=0)

True

In [21]:
64#was  to check perform the replication of a given string with 6
s="abc"
print(s*6)

abcabcabcabcabcabc

In [24]:
65#was to check the given number is divisable by 3 and also the number greater than 22
s=26
print(s%3==0 and s>22)

False

In [26]:
66#was to check perform the length of collection is even (or) not
g="pyspider"
len(g)%2==0

True

In [31]:
67#was to check perform the length of the collection is less than 55 and greater than 16
n="abcdefghijklmnopqrstuvwxyz"
16<len(n)<55

True

In [34]:
68#was to check perform the length of the collection is divisable by 5 and odd.
n="abcdefghijklmnopqrstuvwxy"
print(len(n)%5==0 and len(n)%2!=0)

True

In [37]:
69#was check extart the middle position of given collection is either (str, list,tuple)
n="guru"
res=type(n[len(n)//2])
print(res==str or res==list or tuple)

True

In [39]:
70#was to check the middle position of collection
s=(10,"haii",30)
res=type(s[len(s)//2])
print(res in [str,list,tuple])

True

In [41]:
71#was to check the given number is greater than 20 and less than it should be even
s= 50
print(s%2==0 and s>20 )

True

In [42]:
72#was to check the given number is even and it should be less than 120
s= 50
print(s%2==0 and 120>s )

True

In [71]:
73#was to check the given number is even and present form 40 to 70
s= 42
print(s%2==0 and 40<s<70 )

True

In [45]:
74#was the given the number is odd and it should be greater than 97
s= 101
print(s%2!=0 and s>97 )

True

In [74]:
75#was to check the given number is less than 122 and greater than 48 and the number should be divisiable by 4
s= 52
print(122>s>48 and s%4==0 )

True

In [50]:
76#was to check the given number is divisable by 3 or 5 displaying the value 
s= 100
print(s%3==0 or s%5==0 )
print(s)

True
100

In [59]:
77#was to check the given number is between 100 to 200 including the limit
s=200
print(100<=s and 200>=s)

True

In [62]:
78#was to check the given number is between 100 to 200
s=199
print(100<s and 200>s)

True